.bg_dark_blue {
    background: #202264;
}

.bg_gray {
    background: #F1F1F1;
}

.bg_white {
    background: #FFFFFF;
}

.text_logo {
    letter-spacing: 3px;
    font-size: 20px;
}

.focus-ring {
    --bs-focus-ring-width: none;
    --bs-focus-ring-color: none;
}